# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/
generated_plugin_registrant.dart

# Android
android/.gradle/
android/app/build/
android/.idea/
*.iml
.gradle
*.jks

# iOS/macOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/
macos/Flutter/ephemeral/
macos/Pods/
macos/build/

# Web
web/.dart_tool/
web/build/

# Windows/Linux
windows/build/
linux/build/

# VS Code / IntelliJ / Android Studio
.idea/
.vscode/
*.iml

# Others
*.log
*.lock
pubspec.lock

# System
.DS_Store
Thumbs.db
